*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
p{
    line-height: 1.6;
}
.btn{
    font-family: 'Lexend Deca', sans-serif;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

h3{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 30px;
}
.sedan{
 background-color: hsl(31, 77%, 52%);
 color: hsla(0, 0%, 100%, 0.75);
 border-radius: 10px 10px 0 0;
}
.sedan .btn{
    color: hsl(31, 77%, 52%);;
}
.SUV{
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
}
.SUV .btn{
    color:hsl(184, 100%, 22%)
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    border-radius: 0 0 10px 10px;
}
.luxury .btn{
    color:hsl(179, 100%, 13%);
}
.btn:hover{
    background-color: transparent;
    color: white;
}
.card{
    padding: 30px;
}
.card img{
    margin-bottom: 25px;
}
.card h3{
    margin-bottom: 20px;
}
.card p{
    margin-bottom: 30px;
}
.container{
    padding: 20px;
}
@media (min-width: 902px) {
    .container
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 900px;
    margin: auto;
}
.sedan{
    border-radius: 10px 0 0 10px;
}
.luxury{
    border-radius: 0 10px 10px 0;
}
.card{
    padding: 40px;
}
.card p{
    margin-bottom: 50px;
}
}

@media (min-width: 1280px) {
    .container{
        max-width: 1100px;
    }
}